<div class="container">
  <h2>User Details</h2>
  <hr>
  <div class="d-wpr">
    <label>Name :</label>
    <span>{{user[0].uname}}</span>
  </div>
  <div class="d-wpr">
    <label>Company Name :</label>
    <span>{{user[0].companyName}}</span>
  </div>
  <div class="d-wpr">
    <label>Email :</label>
    <span>{{user[0].emailID}}</span>
  </div>
  <div class="d-wpr">
    <label>Contact Number :</label>
    <span>{{user[0].contactNumber}}</span>
  </div>
  <div class="d-wpr">
    <label>Designation :</label>
    <span>{{user[0].designation}}</span>
  </div>
  <div class="d-wpr">
      <button class="btn blue-btn"(click)="userListPage()">Back</button>
    </div>

</div>
